---
---

@import "{{ site.theme }}";

// override the a:hover and a:focus to stop making the font bold
a:hover, a:focus {
   font-weight: normal;
}

//allow the header to make the font bold
.header a:hover {
   font-weight: bold;
   color: red;
}
